html, body, h1, h2, div, a, p {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
}
h1 {
}
h2 {
    padding: 20px 10px 10px 10px ;
    font-size: 21px;
}
.nav { 
    display: flex;
}

.list {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #fcbe2e;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    color: white;
    margin:0;
}
.title {
    display: flex;
    justify-content: flex-start;
}
li {
    display: flex;
    flex-grow: 1;
    padding-right: 30px;
    text-decoration: none;
    color: white;
}
.title {
    display: flex;
    flex-grow: 100;

}
#one {  
    text-align: center;
}
#boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 620px;
    width: auto;
    background-color: #f7ca250a;
    clear: both;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    text-align: left;
}
.box {
    height: 375px;
    width: 230px;
    border:1px solid #fcbe2e;
    background-color: white;
    margin: 40px 5px;
    
    
}
p {
    font-size: 12px;
    padding: 5px 20px;
}
.button {
    color: white;
    background-color: #fcbe2e;
    border: 1px solid #fcbe2e;
    border-radius: 2px;
    margin: 10px;
    width: 210px;
    padding: 3px 0;
    font-size: 12px;
    
}